.otp-single-field {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #2fd9c4;
  font-size: 30px;
}

.otp-single-field:focus {
  background-color: #2fd9c422;
  outline-style: none;
}